extends layout

block content
  h1 About 
   span.span RideShare
  img#about(src='../../images/hh.jpg', alt='about')
  p#p Rideshare is an affordable choice to travel as you get to travel along with other passengers to the desired locations. This will solve the issue of many people who don't own a car and hugely rely on rides in their daily lives. <br> This will solve the issue of people without a car, especially international students who are tight on their budget and international travelers who are on a budget-friendly tour. This is how our website will function. <br> The fee is standard for all passengers depending on the lengthiness of the route. Also, to start rideshare, the requirements are minimal.
