doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='../css/jumbotron.css', rel='stylesheet')
    
  body
    block content
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') RideShare 
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            //- li
            //-   a(href='/ridePost/') Rides
            //- li
            //-   a(href='/new/') Add Ride
            li
              a(href='/about/') About
            li
              a(href='/contact/') Contact
            
    block content1
      footer#footer
        .row
          .col-xs-12
            small &copy; All rights reserved by RideShare
  script(src='/javascripts/jquery-1.11.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
