extends layout

block content
    br
    h1 Create Account
    br
    .c12
      a(href='/riderLogin')
        button(type='submit' class='my-button') Rider Account
      br
      br  
      a(href='/passengerLogin')
        button(type='submit' class='my-button') Passenger Account
